<link type="text/css" rel="stylesheet" href="~/Content/css/pages/profile.css" />
<link type="text/css" rel="stylesheet" href="~/Content/css/pages/gallery.css" />


    <div class="outer">
        <div class="inner bg-container">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6 m-t-35">
                            <div class="text-xs-center">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumb_zoom zoom admin_img_width">
                                            <img src="~/Content/img/admin.jpg" alt="admin" class="admin_img_width">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="view_friends_imgs">
                                        <br />
                                        <p>
                                            <strong>EVIDENCIAS</strong>
                                        </p>
                                        <div class="friends_img_left">
                                            <div class="thumb_zoom zoom">
                                                <img src="~/Content/img/mailbox_imgs/2.jpg" class="img-rounded" alt="friend">
                                            </div>
                                            <div class="thumb_zoom zoom">
                                                <img src="~/Content/img/mailbox_imgs/3.jpg" class="img-rounded" alt="friend">
                                            </div>
                                            <div class="thumb_zoom zoom">
                                                <img src="~/Content/img/mailbox_imgs/5.jpg" class="img-rounded" alt="friend">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-t-25">
                            <div>
                                <ul class="nav nav-inline view_user_nav_padding">
                                    <li class="nav-item card_nav_hover">
                                        <a class="nav-link active" href="#user" id="home-tab"
                                           data-toggle="tab" aria-expanded="true">
                                            Detalles del Producto
                                        </a>
                                    </li>
                               
                                    <li class="nav-item card_nav_hover">
                                        <a class="nav-link" href="#tab2" id="hats-tab" data-toggle="tab">Comentarios</a>
                                    </li>
                                    <li class="nav-item card_nav_hover">
                                        <a class="nav-link" href="#tab3" id="followers" data-toggle="tab">Seguimiento</a>
                                    </li>
                                </ul>
                                

                            
                                <div id="clothing-nav-content" class="tab-content m-t-10">
                                    <div role="tabpanel" class="tab-pane fade in active" id="user">
                                        <table class="table" id="users">
                                            <tr>
                                                <td>Denunciante (Cedula):</td>
                                                <td class="inline_edit">
                                                    <span class="editable"
                                                          data-title="Edit User Name"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Producto</td>
                                                <td>
                                                    <span class="editable" data-title="Edit E-mail">Nombre PRoducto</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Establecimiento</td>
                                                <td>
                                                    <span class="editable" data-title="Edit Phone Number"> Lugar</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Estado Denuncia</td>
                                                <td>
                                                    <span class="editable" data-title="Edit Address">Estado</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Status Denuncia</td>
                                                <td>1 month ago</td>
                                            </tr>
                                            <tr>
                                                <td>Usuario Asignado</td>
                                                <td>
                                                    <span class="editable" data-title="Edit City">Usuario</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fecha de Originación</td>
                                                <td>
                                                    <span class="editable" data-title="Edit Pincode">522522</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                                        <div class="card_nav_body_padding">
                                            <p>
                                                Howdy, I'm in About Me.
                                            </p>
                                            <p class="text-justify">
                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                                consequat. Duis autem vel eum iriure dolor in hendrerit in
                                                vulputate velit esse molestie consequat. Ut wisi enim ad
                                                minim veniam, quis nostrud exerci tation.
                                            </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                                        <div class="card_nav_body_padding follower_images">
                                            <div class="row">
                                                <div class="col-sm-3 col-xl-2">
                                                    <div class="img">
                                                        <a href="#">
                                                            <img src="~/Content/img/mailbox_imgs/2.jpg" class="rounded-circle" alt="friend">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 col-xl-9">
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="#">Scarlett Johansson</a>
                                                        </div>
                                                        <div class="time">
                                                            <i class="fa fa-clock-o"></i> Last seen: 7 minutes ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-15">
                                                <div class="col-sm-3 col-xl-2">
                                                    <div class="img">
                                                        <a href="#">
                                                            <img src="~/Content/img/mailbox_imgs/3.jpg" class="rounded-circle" alt="friend">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 col-xl-10">
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="#">Mila Kunis</a>
                                                        </div>
                                                        <div class="time">
                                                            <i class="fa fa-clock-o"></i> Online
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-15">
                                                <div class="col-xl-2 col-sm-3">
                                                    <div class="img">
                                                        <a href="#">
                                                            <img src="~/Content/img/mailbox_imgs/8.jpg" class="rounded-circle" alt="friend">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-10 col-sm-9">
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="#">George Clooney</a>
                                                        </div>
                                                        <div class="time">
                                                            <i class="fa fa-clock-o"></i> Last seen: 1 hour ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-15">
                                                <div class="col-xl-2 col-sm-3">
                                                    <div class="img">
                                                        <a href="#">
                                                            <img src="~/Content/img/mailbox_imgs/6.jpg" class="rounded-circle" alt="friend">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-10 col-sm-9">
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="#">Robert Downey Jr.</a>
                                                        </div>
                                                        <div class="time">
                                                            <i class="fa fa-clock-o"></i> Online
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-15">
                                                <div class="col-xl-2 col-sm-3">
                                                    <div class="img">
                                                        <a href="#">
                                                            <img src="~/Content/img/mailbox_imgs/5.jpg" class="rounded-circle" alt="friend">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-10 col-sm-9">
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="#">Ryan Gossling</a>
                                                        </div>
                                                        <div class="time">
                                                            <i class="fa fa-clock-o"></i> Last seen: 45 minutes ago
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ESTADISTICS CHARTS -->
            <div class="row">
                <div class="col-lg-12 col-xs-12 m-t-25">
                    <div class="card">

                        <ul id="clothing-nav" class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Consulta de Medicamentos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Consulta de Alimentos</a>
                            </li>



                        </ul>
                        <div class="card-block">
                            <div id="clothing-nav-content" class="tab-content">

                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="row">
                                        <iframe src="http://intranet.msp.gob.do/INTRANET/DGDF/ConsultaRegsitroSanitario.aspx" width="1000" height="600" frameborder="0"></iframe>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
                                   
                                    <div class="row">
                                        <iframe src="http://intranet.msp.gob.do/intranet/saludambiental/alimentos_bebidas.aspx"  width="1000" height="600" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


         </div>
    </div>
