<!DOCTYPE html>
<html>

@model DemapAdmin.Models.tbl_usuarios

@{
    ViewBag.Title = "Iniciar Sesion";
}

@{
    Layout = null;
}
<head>
    <title>Login | DEMAPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/img/logo1.ico" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/components.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/custom.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrapvalidator/css/bootstrapValidator.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/vendors/wow/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/pages/login.css" />
</head>
<body>

    <div class="container wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="2s">
        <div class="row">
            <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-10 push-sm-1 login_top_bottom">
                <div class="row">
                    <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12">
                        <div class="login_logo login_border_radius1">
                            <h3 class="text-xs-center">
                                <img src="~/Content/img/logow.png" alt="josh logo" class="admire_logo"><span class="text-white"> DEMAPS </span>
                            </h3>
                        </div>
                        <div class="bg-white login_content login_border_radius">
                            <form action="/home/" id="login_validator" method="post" class="login_validator">
                                <div class="form-group">
                                    <label for="email" class="form-control-label"> Usuario</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input_email">
                                            <i class="fa fa-envelope text-primary"></i>
                                        </span>
                                        <input type="text" class="form-control  form-control-md" id="email" name="username" placeholder="Usuario">
                                    </div>
                                </div>
                                <!--</h3>-->
                                <div class="form-group">
                                    <label for="password" class="form-control-label">Contraseña</label>
                                    <div class="input-group">
                                        <span class="input-group-addon addon_password">
                                            <i class="fa fa-lock text-primary"></i>
                                        </span>
                                        <input type="password" class="form-control form-control-md" id="password" name="password" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block login_button">
                                        </div>
                                    </div>
                                </div>
                            </form>
  

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
   

    <!-- global js -->
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/tether.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- end of global js-->
    <!--Plugin js-->
    <script type="text/javascript" src="~/Content/vendors/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/wow/js/wow.min.js"></script>
    <!--End of plugin js-->
    <script type="text/javascript" src="~/Scripts/js/pages/login.js"></script>
</body>

</html>