<!-- HEADER-->
<div id="top">
    <!-- .navbar -->
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <a class="navbar-brand text-xs-center" href="/">
                <h4 class="text-white"><img src="~/Content/img/logow.png" class="admin_img" alt="logo"> DEMAPS</h4>
            </a>
            <div class="menu">
                <span class="toggle-left" id="menu-toggle">
                    <i class="fa fa-bars text-white"></i>
                </span>
            </div>

            <!-- Toggle Button -->
            <div class="text-xs-right xs_menu">
                <button class="navbar-toggler hidden-xs-up" type="button" data-toggle="collapse"
                        data-target="#nav-content">
                    ☰
                </button>
            </div>
            <!-- Nav Content load
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="topnav dropdown-menu-right float-xs-right">

                <div class="btn-group">
                    <div class="notifications messages no-bg notification_tour">
                        <a class="btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-bell text-white"></i>
                            <!--<span class="bg-danger notification_tags">4</span>-->
                            <span class="tag tag-danger">9</span>
                        </a>
                        <div class="dropdown-menu drop_box_align" role="menu">
                            <div class="popover-title">Tienes 2 notificaciones</div>
                            <div id="notifications">
                                <div class="data">
                                    <div class="col-xs-2">
                                        <img src="~/Content/img/mailbox_imgs/1.jpg" class="message-img avatar" alt="avatar1">
                                    </div>
                                    <div class="col-xs-10 message-data">
                                        <i class="fa fa-clock-o"></i>
                                        <strong>Remo</strong>
                                        sent you an image
                                        <br>
                                        <small class="primary_txt">just now.</small>
                                        <br>
                                    </div>
                                </div>

                                <div class="data">
                                    <div class="col-xs-2">
                                        <img src="~/Content/img/mailbox_imgs/3.jpg" class="message-img avatar" alt="avatar1">
                                    </div>
                                    <div class="col-xs-10 message-data">
                                        <i class="fa fa-clock-o"></i>
                                        <strong>John</strong>
                                        meeting at Ritz
                                        <br>
                                        <small class="primary_txt">2hrs Back.</small>
                                        <br>
                                    </div>
                                </div>

                            </div>

                            <div class="popover-footer">
                                <a href="#">Ver todas</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <div class="user-settings no-bg">
                        <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown">
                            <img src="~/Content/img//admin.jpg" class="admin_img2 rounded-circle avatar-img" alt="avatar">
                            <strong>Micheal</strong>
                            <span class="fa fa-sort-down white_bg"></span>
                        </button>
                        <div class="dropdown-menu admire_admin">
                            <a class="dropdown-item title" href="#">
                                Salir
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
    <!-- /.head -->
</div>
<!-- /#top -->