<meta charset="UTF-8">
<title>Dashboard | DEMAPS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="~/Content/img/logo1.ico" />

<!--global styles-->
<link type="text/css" rel="stylesheet" href="~/Content/css/components.css" />
<link type="text/css" rel="stylesheet" href="~/Content/css/custom.css" />
<!-- end of global styles-->
<link type="text/css" rel="stylesheet" href="~/Content/vendors/c3/css/c3.min.css" />
<link type="text/css" rel="stylesheet" href="~/Content/vendors/toastr/css/toastr.min.css" />
<link type="text/css" rel="stylesheet" href="~/Content/vendors/switchery/css/switchery.min.css" />
<link type="text/css" rel="stylesheet" href="~/Content/css/pages/new_dashboard.css" />
<link type="text/css" rel="stylesheet" href="#" id="skin_change" />


