<div id="left">
    <div class="media user-media bg-blue dker">
        <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="#">
                <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
                     src="~/Content/img/user3.png">
                <p class="text-white user-info">Bienvenido Supervisor</p>
            </a>

        </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
        <li class="active">
            <a href="/">
                <i class="fa fa-home"></i>
                <span class="link-title">&nbsp;Dashboard</span>
            </a>
        </li>

      
        <li>
            <a href="/">
                <i class="fa fa-search"></i>
                <span class="link-title">&nbsp;Consulta Registro Alimento</span>
            </a>
        </li>

        <li>
            <a href="/">
                <i class="fa fa-search"></i>
                <span class="link-title">&nbsp;Consulta Registro Medicamentos</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span class="link-title">&nbsp; Denuncias</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="~/Denuncias/DenunciasRecibidas">
                        <i class="fa fa-angle-right"></i> &nbsp; Pendientes
                    </a>
                </li>
                <li>
                    <a href="~/Denuncias/DenunciasInvestigacion">
                        <i class="fa fa-angle-right"></i> &nbsp; En Investigación
                    </a>
                </li>
                <li>
                    <a href="~/Denuncias/DenunciasFalladas">
                        <i class="fa fa-angle-right"></i> &nbsp; Falladas
                    </a>
                </li>

                <li>
                    <a href="~/Denuncias/DenunciasFinalizadas">
                        <i class="fa fa-angle-right"></i> &nbsp; Finalizadas
                    </a>
                </li>
               
            </ul>
        </li>

        
        <li>
            <a href="#">
                <i class="fa fa-bar-chart"></i>
                <span class="link-title">&nbsp; Reportes</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="charts.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Denuncias semanales
                    </a>
                </li>
                <li>
                    <a href="advanced_charts.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Denuncias Mensuales
                    </a>
                </li>
                <li>
                    <a href="chartist.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Denuncias por Región
                    </a>
                </li>
         
            </ul>
        </li>

    </ul>
    <!-- /#menu -->
</div>
<!-- /#left -->
<!-- HEADER-->