<div id="left">
    <div class="media user-media bg-blue dker">
        <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="#">
                <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
                     src="~/Content/img/admin.jpg">
                <p class="text-white user-info">Welcome Micheal</p>
            </a>

        </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
        <li class="active">
            <a href="index-2.html">
                <i class="fa fa-home"></i>
                <span class="link-title">&nbsp;Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-anchor"></i>
                <span class="link-title">&nbsp; Components</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="general_components.html">
                        <i class="fa fa-angle-right"></i> &nbsp; General Components
                    </a>
                </li>
                <li>
                    <a href="transitions.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Transitions
                    </a>
                </li>
                <li>
                    <a href="buttons.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Buttons
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Icons
                    </a>
                </li>
                <li>
                    <a href="animations.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Animations
                    </a>
                </li>

                <li>
                    <a href="notifications.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Notifications
                    </a>
                </li>
                <li>
                    <a href="p_notify.html">
                        <i class="fa fa-angle-right"></i> &nbsp; P-Notify
                    </a>
                </li>
                <li>
                    <a href="cropper.html">
                        <i class="fa fa-angle-right"></i>
                        &nbsp; Cropper
                    </a>
                </li>
                <li>
                    <a href="modal.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Modals
                    </a>
                </li>
                <li>
                    <a href="sortable.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Sortable
                    </a>
                </li>
                <li>
                    <a href="sweet_alert.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Sweet alerts
                    </a>
                </li>
                <li>
                    <a href="grids_layout.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Grid View
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="fa fa-pencil"></i>
                <span class="link-title">&nbsp; Forms</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="form_elements.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Form Elements
                    </a>
                </li>
                <li>
                    <a href="form_layouts.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Form Layouts
                    </a>
                </li>
                <li>
                    <a href="form_validations.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Form Validations
                    </a>
                </li>
                <li>
                    <a href="form_editors.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Form Editors
                    </a>
                </li>
                <li>
                    <a href="radio_checkbox.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Radio and Checkbox
                    </a>
                </li>
                <li>
                    <a href="form_wizards.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Wizards
                    </a>
                </li>
                <li>
                    <a href="datetime_picker.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Date Time Picker
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-th"></i>
                <span class="link-title">&nbsp; Tables</span>
                <span class="fa arrow"></span>
            </a>
            <ul>

                <li>
                    <a href="datatables.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Data Tables
                    </a>
                </li>
                <li>
                    <a href="advanced_tables.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Advanced Tables
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart"></i>
                <span class="link-title">&nbsp; Charts</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="charts.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Flot Charts
                    </a>
                </li>
                <li>
                    <a href="advanced_charts.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Advanced Charts
                    </a>
                </li>
                <li>
                    <a href="chartist.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Chartist
                    </a>
                </li>
                <li>
                    <a href="rickshaw.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Rickshaw Charts
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user"></i>
                <span class="link-title">&nbsp; Users</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="users.html">
                        <i class="fa fa-angle-right"></i> &nbsp; User Grid
                    </a>
                </li>
                <li>
                    <a href="add_user.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Add User
                    </a>
                </li>
                <li>
                    <a href="view_user.html">
                        <i class="fa fa-angle-right"></i> &nbsp; User Profile
                    </a>
                </li>
                <li>
                    <a href="delete_user.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Delete User
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-map-marker"></i>
                <span class="link-title">&nbsp; Maps</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="maps.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Google Maps
                    </a>
                </li>
                <li>
                    <a href="jqvmaps.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Vector Maps
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-file"></i>
                <span class="link-title">&nbsp; Pages</span>
                <span class="fa arrow"></span>
            </a>
            <ul>

                <li>
                    <a href="login.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Login
                    </a>
                </li>
                <li>
                    <a href="register.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Register
                    </a>
                </li>
                <li>
                    <a href="lockscreen.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Lock Screen
                    </a>
                </li>
                <li>
                    <a href="invoice.html">
                        <i class="fa fa-angle-right"></i> &nbsp; Invoice
                    </a>
                </li>

            </ul>
        </li>

    </ul>
    <!-- /#menu -->
</div>
<!-- /#left -->
<!-- HEADER-->